
#title_row {
    background-color: #F3950D;
}

#title_header_info {
    color: azure;
}

#bio {
    background-color: #F3950D;
}

#exp {
    background-color: #F3950D;
    color: azure;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.5rem;
}

#shrt_desc {
    background-color: cadetblue;
    color: azure;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.75rem;
}

#eduTitle {
    color: #0F2C67;
    text-shadow: 2px 2px 4px #CD1818;
    text-decoration: underline;
    
}

#b_title {
    background-color: #0F2C67;
    color: azure;
    
}

/*Create text shadow outline text
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */