<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact James</title>
    <link rel="icon" href="../images/jbicon.ico">
    <link rel="icon" href="../images/jbicon.ico">
    <link rel="stylesheet" href="../css/background.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
  </head>

  <body>
    <div id="nav-placeholder"></div>
    <div>
        <h2>Contact Me</h2>
    </div>
    <div>
        <table>
            <tr>
                <td>Email: </td>
                <td>jamesbrownre1@gmail.com</td>
            </tr>
            <tr>
                <td>Phone: </td>
                <td>(757) 383-0693
        </table>
    </div>
    <hr>
    <div>
        <form class="" action="mailto:jamesbrownre1@gmail.com" method="post" enctype="text/plain">
            <label>Your Name: </label>
            <input type="text" name="contact_name" value="">
            <br>
            <label>Your Email: </label>
            <input type="email" name="contact_email" value="">
            <br>
            <label>Message: </label>
            <br>
            <textarea name="contact_message" rows="10" cols="30"></textarea>
            <br>
            <input type="submit" name="">
        </form>
    </div>
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../js/navigation.js"></script>
    <script type="text/javascript" src="../js/bootstrap.bundle.js"></script>
  </body>
</html>
