<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Education</title>
    <link rel="stylesheet" href="../css/background.css">
  </head>

  <body>
    <div>
      <h2>Education</h2>
    </div>
    <div>
        <hr>
            <table>
                <tr>
                    <td><a href="../index.html">Home</a></td>
                    <td>Education</td>
                    <td><a href="skills.html">Skills</a></td>
                    <td><a href="empl_hist.html">Employment History</a></td>
                    <td><a href="hobbies.html">Hobbies</a></td>
                    <td><a href="contact_me.html">Contact Me</a></td>
                </tr>
            </table>
        <hr>
    </div>
    <div>
      <h3>Degree Information</h3>
      <table>
        <thead>
          <th>College</th>
          <th>Degree</th>
          <th>Date</th>
        </thead>
        <tbody>
          <tr>
            <td>Kieser University(Tampa, FL)</td>
            <td>BS in Software Engineering</td>
            <td>April 2020</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h3>Certificates</h3>
      <table>
        <thead>
          <th>Certificate</th>
          <th>Obtained From</th>
          <th>Date</th>
        </thead>
        <tbody>
          <tr>
            <td>Google IT Support</td>
            <td>Coursera</td>
            <td>October 2021</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script type="text/javascript" src=""></script>
  </body>
</html>
