<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Education</title>
    <link rel="icon" href="../images/jbicon.ico">
    <link rel="stylesheet" href="../css/education.css">
    <link rel="stylesheet" href="../css/background.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
  </head>

  <body>
    <div>
      <h2>Education</h2>
    </div>
    <div id="nav_bar_2">
      <nav class="navbar navbar-expand-lg sticky navbar-dark bg-mine">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../view/education.html">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../view/skills.html">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../view/empl_hist.html">Employment History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../view/hobbies.html">Hobbies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../view/contact_me.html">Contact Me</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div>
      <h3>Degree Information</h3>
      <table>
        <thead>
          <th>College</th>
          <th>Degree</th>
          <th>Date</th>
        </thead>
        <tbody>
          <tr>
            <td>Kieser University(Tampa, FL)</td>
            <td>BS in Software Engineering</td>
            <td>April 2020</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h3>Certificates</h3>
      <table>
        <thead>
          <th>Certificate</th>
          <th>Obtained From</th>
          <th>Date</th>
        </thead>
        <tbody>
          <tr>
            <td>Google IT Support</td>
            <td>Coursera</td>
            <td>October 2021</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script type="text/javascript" src="../js/bootstrap.bundle.js"></script>
  </body>
</html>
