<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Education</title>
    <link rel="icon" href="../images/jbicon.ico">
    <link rel="stylesheet" href="../css/education.css">
    <link rel="stylesheet" href="../css/bootstrap.css">

  </head>

  <body>
    <div id="nav-placeholder" class="container-fluid"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col" id="eduTitle">
          <h2>Education: </h2>
          <hr>
        </div>
      </div>
    <div class="row">
      <div class="col" id="eduTitle">
        <h3>Degree Information: </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-auto">
        <img src="../images/mycollection/005-program.png">
      </div>
      <div class="col-lg-auto">
          <table class="table table-primary table-bordered border-dark">
            <thead>
              <th>College</th>
              <th>Degree</th>
              <th>Date</th>
            </thead>
            <tbody>
              <tr>
                <td>Kieser University(Tampa, FL)</td>
                <td>BS in Software Engineering</td>
                <td>April 2020</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-auto" id="eduTitle">
        <h3>Certificates: </h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-auto">
        <table class="table table-info table-bordered border-dark">
          <thead>
            <th>Certificate</th>
            <th>Obtained From</th>
            <th>Date</th>
          </thead>
          <tbody>
            <tr>
              <td>Google IT Support</td>
              <td>Coursera</td>
              <td>October 2020</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../js/navigation.js"></script>
    <script type="text/javascript" src="../js/bootstrap.bundle.js"></script>
  </body>
</html>
