<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Employment History</title>
    <link rel="stylesheet" href="../css/background.css">
  </head>

  <body>
    <div>
        <h2>Employment History</h2>
    </div>
    <div>
        <hr>
            <table>
                <tr>
                    <td><a href="../index.html">Home</a></td>
                    <td><a href="education.html">Education</a></td>
                    <td><a href="skills.html">Skills</a></td>
                    <td>Employment History</td>
                    <td><a href="hobbies.html">Hobbies</a></td>
                    <td><a href="contact_me.html">Contact Me</a></td>
                </tr>
            </table>
        <hr>
    </div>
    <div>
        <table>
          <thead>
            <th>Employer</th>
            <th>Dates</th>
          </thead>
          <tbody>
            <tr>
                <td>Stanley Black & Decker</td>
                <td>July 7th, 2020 - Current</td>
            </tr>
            <tr>
                <td>Security Local and Safe</td>
                <td>August 11th, 2016 - July 3rd, 2020</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
          </tbody>
        </table>
    </div>
    <script type="text/javascript" src=""></script>
  </body>
</html>
