<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hobbies</title>
  </head>

  <body>
    <div>
        <hr>
            <table>
                <tr>
                    <td><a href="../index.html">Home</a></td>
                    <td><a href="education.html">Education</a></td>
                    <td><a href="skills.html">Skills</a></td>
                    <td><a href="empl_hist.html">Employment History</a></td>
                    <td>Hobbies</td>
                    <td><a href="contact_me.html">Contact Me</a></td>
                </tr>
            </table>
        <hr>
    </div>
    <div>
      <h4>Hobbies</h4>
      <ul>
        <li>Fishing</li>
        <li>Surfing</li>
        <li>Computers!</li>
      </ul>
    </div>

    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
    <script type="text/javascript" src=""></script>
  </body>
</html>
