<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="../images/jbicon.ico">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/background.css">
    <link rel="stylesheet" href="../css/navigation_bar.css">
  </head>

  <body>
          <nav class="navbar navbar-expand-lg sticky navbar-dark bg-mine">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../view/education.html">Education</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../view/skills.html">Skills</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../view/empl_hist.html">Employment History</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../view/hobbies.html">Hobbies</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../view/contact_me.html">Contact Me</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

    <script type="text/javascript" src="../js/bootstrap.bundle.js"></script>
  </body>
</html>
