<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>James's Skills</title>
    <link rel="icon" href="../images/jbicon.ico">
    <link rel="stylesheet" href="../css/background.css">
  </head>

  <body>
    <div>
        <h2>Skills</h2>
    </div>
    <div>
        <hr>
            <table>
                <tr>
                    <td><a href="../index.html">Home</a></td>
                    <td><a href="education.html">Education</a></td>
                    <td>Skills</td>
                    <td><a href="empl_hist.html">Employment History</a></td>
                    <td><a href="hobbies.html">Hobbies</a></td>
                    <td><a href="contact_me.html">Contact Me</a></td>
                </tr>
            </table>
        <hr>
    </div>
    <div>
        <table>
            <thead>
                <th>Skill</th>
                <th>Rating</th>
            </thead>
            <tbody>
                <tr>
                    <td>Python 3, 3.10</td>
                    <td>&#9733;&#9733;&#9733;&#9733;&#9734;&#9734;</td>
                    <td>Java</td>
                    <td>&#9733;&#9733;&#9733;&#9734;&#9734;&#9734;</td>
                </tr>
                <tr>
                    <td>MySQL</td>
                    <td>&#9733;&#9733;&#9733;&#9734;&#9734;&#9734;</td>
                    <td>HTML 5</td>
                    <td>&#9733;&#9733;&#9733;&#9733;&#9734;&#9734;</td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>&#9733;&#9733;&#9733;&#9733;&#9734;&#9734;</td>
                    <td>C++</td>
                    <td>&#9733;&#9733;&#9733;&#9734;&#9734;&#9734;</td>
                </tr>
                <tr>
                    <td>C </td>
                    <td>&#9733;&#9733;&#9733;&#9734;&#9734;&#9734;</td>
                    <td>MongoDB</td>
                    <td>&#9733;&#9733;&#9733;&#9734;&#9734;&#9734;</td>
                </tr>
                <tr>
                    <td>Git </td>
                    <td>&#9733;&#9733;&#9733;&#9734;&#9734;&#9734;</td>
                    <td>JSON</td>
                    <td>&#9733;&#9733;&#9733;&#9734;&#9734;&#9734;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src=""></script>
  </body>
</html>
